<form class="message-form">
    <div>
        <h3>Send Message to {{user.username}}:</h3>
        <textarea id="message-body" name="message-body" placeholder="Your Message Here"></textarea>
    </div>
    <div class='form-btn-container'>
        <button class='add-message-btn form-btn' type="submit">send message</button>
    </div>
</form>