<form class="message-form">
    <div>
        Message Poster:<br>
        <textarea id="message-body" name="message-body" placeholder="Your Message Here"></textarea>
    </div>
    <div class='form-btn-container'>
        <button class='add-message-btn form-btn' type="submit">send message</button>
    </div>
</form>