<div class="dropdown">
    <a {{#if session.loggedIn}}href="#" {{else}}href='/login'
        {{/if}}class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
        {{#if session.loggedIn}}data-bs-toggle="dropdown" {{/if}} aria-expanded="false">
        <img src="https://www.svgrepo.com/show/5319/user.svg" alt="" width="32" height="32"
            class="rounded-circle me-2 fancy-button">
        <strong>{{#if session.loggedIn}}{{session.username}}{{else}}Sign In</a>{{/if}}</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="/newPost">Post New Listing</a></li>
        <li><a class="dropdown-item" href="/myMessages">Messages</a></li>
        <li><a class="dropdown-item" href="/user/{{session.user_id}}">Profile/Settings</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item logout" href="#">Sign out</a></li>
    </ul>
</div>