<h1>DASHBOARD</h1>

 {{#if posts.length}}
 {{#each posts as |post|}}
 <section class='single-post-containter'>
 
 

{{> post-view post}}

<div>
    <a href='/edit/{{post.id}}'> edit post </a>
</div>
</section> 
{{> messages post}}
{{/each}}

{{else}}
    <h2>No Posts</h2>
{{/if}}




