{{> sortby}}
<section class="post-list">
    {{#each posts as |post|}}

    {{> post-info post }}

    {{/each}}
</section>
<script>let pageView = '';</script>
<script src="/javascript/sortby.js"></script>
{{#if session.loggedIn}}
<script src="/javascript/upvote.js"></script>
{{/if}}