<section class="post-list">
    {{#if posts.length}}
    {{#each posts as |post|}}

    {{> post-info post }}

    {{/each}}
    {{else}}
    <h2>No Matches for: `{{session.searchStr}}` in `{{session.searchCat}}`</h2>
    {{/if}}
</section>