<section class="post-list">
    {{#if posts.length}}
    {{#each posts as |post|}}

    {{> post-info post }}

    {{/each}}
    {{/if}}
</section>

<script>let pageView = '';</script>
<script src="/javascript/sortby.js"></script>
{{#if session.loggedIn}}
<script src="/javascript/upvote.js"></script>
{{/if}}
