<article class="new-post-container">
  <section class="post-body">
    <h2 class="title">Create New Post</h2>
    <form class="new-post-form">
      <input type="hidden" id="user-id" name="user-id" value="{{session.user_id}}" />
      <div>
        <label for="post-title">Title</label>
        <input name="post-title" type="text" value="{{post.title}}" />
      </div>
      <div>

        <section id='category-list'>
          <label for="post-category">Category</label>
          <select id="post-category">
            <option value="1">Automotive</option>
            <option value="2">Clothing</option>
            <option value="3">Computers</option>
            <option value="4">Electronics</option>
            <option value="5">Household</option>
            <option value="6">Jewelery</option>
            <option value="7">Pets</option>
            <option value="8">Sports</option>
            <option value="9">Video Games</option>
            <option value="12">Misc</option>
            <option value="00" disabled>--------</option>
            <option value="10">Service</option>
            <option value="11">Wanted</option>
          </select>
        </section>
      </div>
      <div>
        <label for="post-content">Content</label>
        <textarea id="post-content" name="post-content"></textarea>
      </div>
      <div class="form-btn-container">
        <button type="submit" class="form-btn">Create Post</button>
      </div>
    </form>
    <form method="post" enctype="multipart/form-data" action='/api/newPost'>
    <h4>Upload a Picture!</h4>
    <p>Make sure to upload it before you "Create Post"!</p>
      <input type="file" name="image" />
      <input type="submit" />
    </form>
  </section>
</article>

<script src="/javascript/add-post.js"></script>