<div class="login-container">
  <section class="login-body">
    <form class="signup-form">

      <h2 class="title">
        User Sign Up
      </h2>
      <div class="content user-login">
        <div>
          <label for="username-signup">name:</label>
          <input type="text" id="username-signup" placeholder="choose a user name" />
        </div>
        <div>
          <label for="email-signup">email:</label>
          <input type="text" id="email-signup" placeholder="valid email only" />
        </div>
        <div>
          <label for="password-signup">password:</label>
          <input type="password" id="password-signup" placeholder="enter password; min 8 characters" />
        </div>
        <div>
          <label for="password-signup2">confirm:</label>
          <input type="password" id="password-signup2" placeholder="enter password again" />
        </div>
      </div>
      <div class="form-btn-container">
        <button class='user-login-btn form-btn' type="submit">Sign Up</button>
      </div>
    </form>
  </section>
  <div class='login-foot'><a class='nochange' href="/login">Login</a></div>
</div>
<script src="/javascript/login.js"></script>