<section class='single-post-containter'>
{{> post-view post}}

{{#unless (ifEquals session.user_id post.user_id)}}
{{> message-form post}}
{{else}}
<div>
    <a href='/edit/{{post.id}}'> edit post </a>
</div>
{{/unless}}
</section>

{{#if (ifEquals session.user_id post.user_id)}}
{{> messages post.message_chains}}
{{/if}}

{{#if session.loggedIn}}
<script src="/javascript/message.js"></script>
{{/if}}