/* Global Stuff */
.bg-dark {
    --bs-bg-opacity: .90;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity))!important;
}

.bg-lighter {
    --bs-bg-opacity: .52;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity))!important;
}

.fancy-button {
    text-shadow: .2rem .2rem .1rem var(--dark-shadow);
    background-image: linear-gradient(61deg, rgba(153, 221, 156, 1) 13%, rgba(236, 190, 184, 1) 36%, rgba(235, 233, 172, 1) 51%, rgba(203, 242, 154, 1) 69%, rgba(94, 152, 163, 1) 95%);
    transition: 0.5s;
    background-size: 200% auto;
    display: block;
}

.fancy-button:hover {
    background-position: right center;
    text-decoration: none;
}

.form-btn-container{
    display: flex;
    justify-content: space-evenly;
}

textarea{
    resize: none;
}
/*END OF GLOBAL*/
body {
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    text-align: center;
}

header {
    width: 100%;
    min-height: 200px;
    background-image: url('/images/skiny_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#welcomeUser {
    flex: 0 1 50%;
    align-self: flex-end;
    padding-left: 8%;
}

header * {
    /* fixes flexbox glitch and keeps nav right justifiyed when no welcome message is displayed */
    border: 1px solid rgba(0, 0, 0, 0);
}

nav {
    flex: 1 1 50%;
    align-self: flex-end;
    text-align: right;
}

nav .navlink {
    position: relative;
    bottom: .5rem;
}

#body {
    flex: 1 1 100vh;
    overflow: auto;
}

#searchBox {
    align-self: flex-start;
    width: 100%;
    padding: 0 12.5%;
}



/* SIDE BAR STYLING */

.icon {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: .3rem;
    position: relative;
    bottom: .12rem;
}

.invert {
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

#sideBarLogo {
    width: 100%;
    padding: 1rem;
}
#newPost-sideBar{
    margin: -1rem 0;
    padding: 1rem 0;
    font-size: 1.4rem;
}
#newPost-sideBar a{
    color: rgb(37, 150, 52);
    text-decoration: none;
    font-weight: bold;
}
#sideBar .category-list {
    padding-left: 1rem;
    --bs-bg-opacity: .80;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity))!important;
}

#sideBar .category-list:nth-of-type(2) {
    padding-top: 1rem;
}

#sideBar .category-list:nth-of-type(3) {
    padding-bottom: 1rem;
}
#sideBar .category-list ul{
    list-style-type: none;
    padding-left: 0;
}
#sideBar .category-list a{
    padding-left: 2rem;
    display: block;
    width: 100%;
    text-decoration: none;
    color: rgb(227, 228, 213);
}
#sideBar .category-list a:hover{
   background-color: rgba(248, 243, 233, .4);
   color: rgb(0, 0, 0);
}
#sideBar .dropdown {
    padding: 0 1rem 1rem;
}


/* POST LIST */

.post-container {
    margin-right: 1rem;
    margin-bottom: 1.2rem;
    padding: .6rem 1.1rem .2rem;
    border-radius: 1.2rem;
    transition: all 1.8;
    background-color: rgba(108, 142, 187, 0.3);
    box-shadow: 2px 2px 6px rgba(159, 179, 184, .7);
}

.post-container:hover .post-link {
    color: rgb(57, 68, 214)
}

.post-container:hover {
    background-color: rgba(203, 242, 154, .8)
}

.post-container:nth-child(3n+1):hover {
    background-color: rgba(236, 190, 184, .9);
}

.post-container:nth-child(3n+2):hover {
    background-color: rgba(94, 152, 163, .9)
}

.post-link {
    color: snow;
    text-decoration: none;
}

.post-head h5 {
    display: inline;
}

.post-body {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.post-body .title {
    flex: 1 0 30%;
    padding-left: 1rem;
}

.post-body .content {
    flex: 1 1 auto;
    text-align: right;
}

/* Single Post */ 

.message-form textarea{
 width:100%;
}

.single-post-containter {
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    justify-content: space-between;
}
.single-post-containter .post-container {
    flex: 1 0 40rem;
    background-color:rgba(235, 233, 172, 1);
    color: rgb(57, 68, 214);
}
.single-post-containter .post-container:hover {
    background-color:rgba(235, 233, 172, 1);
}
.single-post-containter .message-form {
    flex: 1 1 20rem;

    color: rgb(57, 68, 214);
        padding: .6rem 1.1rem .2rem;
        border-radius: 1.2rem;
        transition: all 1.8;
        background-color: rgba(203, 242, 154, 1);
        box-shadow: 2px 2px 6px rgba(159, 179, 184, .7);
}

.single-post-containter .post-body {
flex-direction: column;
}
.single-post-containter .post-body .content {
    padding-left: 1rem;
    text-align: left;
}

.Messages .message .text,
.Messages .message .respond{
    display: inline-block;
}
.Messages .respond{
    cursor: pointer;
    width: 8rem;
    margin-left: 1.3rem;
    background-color: seagreen;
    text-align: center;
    vertical-align: center;
}

.Messages .reply-box{
    display: none;
}